body {
  background: url("/img/love.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #16324f;
}

.output3>img, .output2>img, .output1>img {
  width: 350px;
  float: left;
  margin: 10px 20px 0 0;
}

.alert {
  text-align: center;
  font-weight: bold;
}

.nameOut {
  font-style: italic;
}

.output3, .output2, .output1 {
  display: none;
}

h2 {
  margin: 20px 0 20px 0;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

label {
  text-align: center;
}