body {
  background: url("/img/love.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: blue;
}

.output>img {
  width: 200px;
  float: left;
  margin: 10px 20px 0 0;
}

.alert {
  text-align: center;
  font-weight: bold;
}

#nameOut {
  font-style: italic;
}